.Rproj.user
.Rhistory
.RData
.Ruserdata

# IGNORAR ARCHIVOS DEL TIPO
*.Rhistory
*.rar

PRINCIPAL-ARTICULO-HTML.html
PRINCIPAL-ARTICULO-HTML.Rmd

# IGNORAR CARPETAS
tmp_files_imgs/
.Rproj.user/
LASPUMSS/CAPACIDAD-FINANCIERA-INDUSTRIA-CEMENTERA-BOLIVIA/RECURSOS-INVESTIGACION/HTML-DOCUMENT/
